.card-events {
  margin: 20px;
  .card-image {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  img {
    max-width: 90%;
  }
}

.action {
  display: flex;
  flex-direction: row-reverse;
}


.mat-card-header, .mat-card-header-text {
  width: 100%;
}
