<div class="header pb-7 pt-4 pt-lg-7 pt-md-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-orange opacity-8"></span>

  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row w-100">
      <div class="w-100 col-lg-7 col-md-10">
        <h1 class="display-2 text-white">
          {{ !formId ? "Cadastrar dados" : "Alterar dados cadastrais" }}
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-12">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Dados cadastrais</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="loadingResult" class="loadingForm">
            <mat-spinner></mat-spinner>
          </div>
          <form
            role="form"
            [formGroup]="profileForm"
            *ngIf="!loadingResult"
            (ngSubmit)="save()"
          >
            <h6 class="heading-small text-muted mb-4">
              Informações do usuário
            </h6>
            <!-- Informações do usuário -->
            <div class="pl-lg-4">
              <div class="row" *ngIf="profile.role === 'admin'">
                <div class="col-12">
                  <mat-radio-group
                    aria-labelledby="Tipo de formulario"
                    class="d-flex align-items-center"
                    formControlName="registration_form_type"
                  >
                    <mat-label>Tipo de formulário: </mat-label>
                    <mat-radio-button
                      class="radio-button"
                      *ngFor="let formType of formTypes"
                      [value]="formType.value"
                    >
                      {{ formType.text }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row" *ngIf="profile.role === 'admin'">
                <div class="col-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Usúario</mat-label>
                    <select matNativeControl formControlName="user_id" required>
                      <option *ngFor="let user of users" [value]="user.id">
                        {{ user.name }}
                      </option>
                    </select>
                    <mat-error *ngIf="hasError('user_id', 'required')">
                      Usúario obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8">
                  <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name" required />
                    <mat-error *ngIf="hasError('name', 'required')"
                      >Nome obrigatório</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input
                      matInput
                      formControlName="phone"
                      [dropSpecialCharacters]="false"
                      mask="(00) 0000-0000"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Informações do usuário -->

            <!-- Endereço -->
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">
              Informações de endereço
            </h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-12">
                  <mat-radio-group
                    aria-labelledby="Tipo de residência"
                    class="d-flex flex-column"
                    formControlName="address_type"
                    (change)="changedAddressType($event)"
                  >
                    <mat-label>Tipo de residência: </mat-label>
                    <mat-radio-button
                      class="radio-button"
                      *ngFor="let addressType of addressTypes"
                      [value]="addressType.value"
                    >
                      {{ addressType.text }}
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" value="outro">
                      <mat-form-field
                        class="input-on-radio"
                        appearance="outline"
                      >
                        <mat-label>Outro</mat-label>
                        <input
                          (focus)="setOther()"
                          matInput
                          #address_type_other_string
                          formControlName="address_type_other_string"
                        />
                      </mat-form-field>
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-2">
                  <mat-form-field appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input
                      (change)="zipcodeChange($event)"
                      matInput
                      formControlName="address_zipcode"
                      [dropSpecialCharacters]="false"
                      mask="00000-000"
                    />
                    <mat-error *ngIf="hasError('address_zipcode', 'zipcode')"
                      >CEP inválido</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input matInput formControlName="address_neighborhood" />
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input matInput formControlName="address_city" />
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-2 col-xl-1">
                  <mat-form-field appearance="outline">
                    <mat-label>UF</mat-label>
                    <input matInput formControlName="address_state" mask="SS" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-9 col-lg-10">
                  <mat-form-field appearance="outline">
                    <mat-label>Endereço</mat-label>
                    <input matInput formControlName="address_street" />
                  </mat-form-field>
                </div>
                <div class="col-sm-3 col-lg-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Nº</mat-label>
                    <input matInput formControlName="address_number" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Complemento</mat-label>
                    <input matInput formControlName="address_complement" />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Quanto tempo mora na residência?</mat-label>
                    <input
                      matInput
                      formControlName="address_dwelling_time"
                      mask="999"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Endereço -->

            <!-- Educação -->
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Educação</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Grau de escolaridade</mat-label>
                    <select
                      matNativeControl
                      aria-labelledby="Grau de escolaridade"
                      formControlName="education_level"
                    >
                      <option
                        *ngFor="let item of educationLevel"
                        [value]="item.value"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Nome escola</mat-label>
                    <input matInput formControlName="educational_institution" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Curso</mat-label>
                    <input matInput formControlName="course" />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Ano conclusão</mat-label>
                    <input
                      matInput
                      myDatepicker
                      formControlName="conclusion_year"
                      [matDatepicker]="conclusion_year"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="conclusion_year"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      #conclusion_year
                      startView="multi-year"
                      (yearSelected)="
                        chosenYearHandler(
                          $event,
                          conclusion_year,
                          'conclusion_year'
                        )
                      "
                    ></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Educação -->

            <!-- Mais sobre mim -->
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Mais sobre mim</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Estado civil</mat-label>
                    <select
                      matNativeControl
                      formControlName="marital_status"
                      (change)="changedMaritalStatus($event)"
                      required
                    >
                      <option
                        *ngFor="let status of maritalStatus"
                        [value]="status.value"
                      >
                        {{ status.text }}
                      </option>
                    </select>
                  </mat-form-field>
                </div>
                <div
                  class="col-sm-6"
                  *ngIf="profileForm.value.marital_status === 'outro'"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Informe qual estado civil</mat-label>
                    <input
                      (focus)="setOtherMarital()"
                      matInput
                      #marital_status_other_string
                      formControlName="marital_status_other_string"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xl-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Data de nascimento</mat-label>
                    <input
                      matInput
                      formControlName="birthday"
                      [matDatepicker]="birthday"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="birthday"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #birthday></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-xl-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Cidadania</mat-label>
                    <input matInput formControlName="citizenship" />
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-xl-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Naturalidade</mat-label>
                    <input matInput formControlName="hometown" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-4 col-xl-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Peso</mat-label>
                    <input matInput formControlName="height" />
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Altura</mat-label>
                    <input matInput formControlName="weight" />
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-xl-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Renda Comprovada</mat-label>
                    <input
                      matInput
                      formControlName="proven_income"
                      prefix="R$ "
                      mask="separator.2"
                      thousandSeparator="."
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-xl-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Número do PIS</mat-label>
                    <input
                      matInput
                      formControlName="pis"
                      mask="000.00000.00-0"
                    />
                    <mat-error *ngIf="hasError('pis', 'pis')">
                      PIS inválido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-xl-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Saldo FGTS</mat-label>
                    <input
                      matInput
                      formControlName="fgts_value"
                      prefix="R$ "
                      mask="separator.2"
                      thousandSeparator="."
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Nome da mãe</mat-label>
                    <input matInput formControlName="mothers_name" />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Nome do pai</mat-label>
                    <input matInput formControlName="fathers_name" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Declara IR ?</mat-label>
                    <select
                      matNativeControl
                      aria-labelledby="Declara ir"
                      formControlName="declaring_ir"
                    >
                      <option [value]="1">
                        Sim
                      </option>
                      <option [value]="0">
                        Não
                      </option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Possui emprego ?</mat-label>
                    <select
                      matNativeControl
                      aria-labelledby="possui emprego"
                      formControlName="employed"
                    >
                      <option [value]="1">
                        Sim
                      </option>
                      <option [value]="0">
                        Não
                      </option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="profileForm.value.employed == '1'">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Profissão</mat-label>
                    <input matInput formControlName="profession" />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Categoria da Profissão</mat-label>
                    <input matInput formControlName="professional_category" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="profileForm.value.employed == '1'">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Nome empresa</mat-label>
                    <input matInput formControlName="company_name" />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Data de admissão</mat-label>
                    <input
                      matInput
                      formControlName="company_admission_date"
                      [matDatepicker]="company_admission_date"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="company_admission_date"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #company_admission_date></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Possui casa propría ?</mat-label>
                    <select
                      matNativeControl
                      aria-labelledby="possui casa propria"
                      formControlName="own_property"
                    >
                      <option [value]="1">
                        Sim
                      </option>
                      <option [value]="0">
                        Não
                      </option>
                    </select>
                  </mat-form-field>
                </div>
                <div
                  class="col-md-6"
                  *ngIf="profileForm.value.own_property == '1'"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Valor da casa</mat-label>
                    <input
                      matInput
                      formControlName="property_value"
                      prefix="R$ "
                      mask="separator.2"
                      thousandSeparator="."
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>É empresario ?</mat-label>
                    <select
                      matNativeControl
                      aria-labelledby="e empresario"
                      formControlName="businessman"
                    >
                      <option [value]="1">
                        Sim
                      </option>
                      <option [value]="0">
                        Não
                      </option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="profileForm.value.businessman == '1'">
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Nome empresa</mat-label>
                    <input matInput formControlName="businessman_name" />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>CNPJ</mat-label>
                    <input
                      matInput
                      formControlName="businessman_cnpj"
                      [dropSpecialCharacters]="false"
                      mask="00.000.000/0000-00"
                    />
                    <mat-error *ngIf="hasError('businessman_cnpj', 'cnpj')">
                      CNPJ inválido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Faturamento aproximado</mat-label>
                    <input
                      matInput
                      formControlName="approximate_billing"
                      prefix="R$ "
                      mask="separator.2"
                      thousandSeparator="."
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Mais sobre -->

            <!-- Automovel -->
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Automóvel</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Possui veículo proprío ?</mat-label>
                    <select
                      matNativeControl
                      aria-labelledby="possui veiculo proprio"
                      formControlName="has_vehicle"
                    >
                      <option [value]="1">
                        Sim
                      </option>
                      <option [value]="0">
                        Não
                      </option>
                    </select>
                  </mat-form-field>
                </div>
                <div
                  class="col-lg-3"
                  *ngIf="profileForm.value.has_vehicle == '1'"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Tipo veículo</mat-label>
                    <select
                      matNativeControl
                      aria-labelledby="Tipo veiculo"
                      formControlName="vehicle_type"
                    >
                      <option
                        *ngFor="let item of vehicleTypes"
                        [value]="item.value"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                  </mat-form-field>
                </div>
                <div
                  class="col-lg-4"
                  *ngIf="profileForm.value.vehicle_type === 'outro'"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Informe o tipo veículo</mat-label>
                    <input
                      matInput
                      formControlName="vehicle_type_other_string"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="profileForm.value.has_vehicle == '1'" class="row">
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Fabricante</mat-label>
                    <input matInput formControlName="vehicle_manufacturer" />
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Modelo</mat-label>
                    <input matInput formControlName="vehicle_model" />
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input
                      matInput
                      myDatepicker
                      formControlName="vehicle_year"
                      [matDatepicker]="vehicle_year"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="vehicle_year"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      #vehicle_year
                      startView="multi-year"
                      (yearSelected)="
                        chosenYearHandler($event, vehicle_year, 'vehicle_year')
                      "
                    ></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Automovel -->
            <p *ngIf="loadingSave">
              <mat-progress-bar mode="query"></mat-progress-bar>
            </p>
            <div class="actions">
              <button
                type="button"
                mat-stroked-button
                color="primary"
                (click)="cancel()"
              >
                Voltar
              </button>
              <div class="save">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="loadingSave"
                >
                  Salvar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
