<div class="container m-auto forgot-password">
  <div class="row justify-content-center m-0">
    <div class="col-12 p-0">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4 pt-2 pb-5 img-logo">
            <img src="./assets/img/brand/logo.png" />
          </div>
          <form role="form" [formGroup]="changeForm">
            <div class="row mt-3">
              <div class="col-12 text-center">
                <label class="text-light">Alterar senha</label>
              </div>
            </div>
            <p *ngIf="validatingToken">
              <mat-progress-bar mode="query"></mat-progress-bar>
              <mat-label>Aguarde, estamos validando esse link...</mat-label>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-icon matSuffix>email</mat-icon>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required />
                <mat-error *ngIf="hasError('email', 'required')"
                  >Email obrigatório</mat-error
                >
                <mat-error *ngIf="hasError('email', 'email')"
                  >Email inválido</mat-error
                >
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input
                  matInput
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                  required
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  [disabled]="invalidToken"
                  (click)="hide = !hide"
                  [attr.aria-label]="'Senha'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>
                    {{ hide ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
                <mat-error *ngIf="hasError('password', 'required')"
                  >Senha obrigatório</mat-error
                >
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Confirmar senha</mat-label>
                <input
                  matInput
                  formControlName="confirm"
                  type="password"
                  required
                />
                <mat-error *ngIf="hasError('confirm', 'required')"
                  >Confirmar senha obrigatório</mat-error
                >
                <mat-error *ngIf="hasError('confirm', 'newMatchesConfirm')"
                  >Confirmar senha deve ser igual a senha.</mat-error
                >
              </mat-form-field>
              <app-password-strength
                [passwordToCheck]="changeForm.value.password"
              ></app-password-strength>
            </p>
            <p *ngIf="loading">
              <mat-progress-bar mode="query"></mat-progress-bar>
            </p>
            <div class="actions">
              <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="cancel()"
              >
                Cancelar
              </button>
              <div class="save">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  (click)="onSubmit()"
                  [disabled]="loading || invalidToken"
                >
                  Alterar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
