<div class="container m-auto forgot-password" hidde>
  <div class="row justify-content-center m-0">
    <div class="col-12 p-0">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4 pt-2 pb-5 img-logo">
            <img src="./assets/img/brand/logo.png" />
          </div>
          <form role="form" [formGroup]="forgotForm">
            <div class="row mt-3">
              <div class="col-12 text-center">
                <label class="text-light">Recuperar senha</label>
              </div>
            </div>
            <p>
              <mat-form-field appearance="fill">
                <mat-icon matSuffix>email</mat-icon>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required />
                <mat-error *ngIf="hasError('email', 'required')"
                  >Email obrigatório</mat-error
                >
                <mat-error *ngIf="hasError('email', 'email')"
                  >Email inválido</mat-error
                >
              </mat-form-field>
            </p>
            <div class="form-group mb-3" hidden>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-email-83"></i>
                  </span>
                </div>
                <input class="form-control" placeholder="Email" type="email" />
              </div>
            </div>
            <p *ngIf="loading">
              <mat-progress-bar mode="query"></mat-progress-bar>
            </p>
            <div class="actions">
              <button
                type="button"
                mat-stroked-button
                color="primary"
                (click)="cancel()"
              >
                {{submitted ? 'Voltar' : 'Cancelar'}}
              </button>
              <div class="save">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  (click)="onSubmit()"
                  [disabled]="loading || submitted"
                >
                  Enviar email
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
