.button {
  background-color: #F49D2C;
  border-color: #F49D2C;
}

.forgot-password {
  min-width: 90%;
}

.actions {
  display: flex;

  button {
    min-width: 100px;
  }

  .cancel {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

}

@media(min-width:575px) {
  .forgot-password {
    min-width: 500px;
  }
}
